$purple: #5B299D;
$black: #000;
$darkPurple: #1C1422;
$veryDarkPurple: #110C15;
$linarColor: #161024;
$white: #fff;
$yellow: #FFBE66;
$hoverColor: #8444DA;

@mixin heading1 {
    font-size: 21rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  @mixin heading2 {
    font-size: 3rem;
    font-weight: 700;
  }

  @mixin heading3 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  @mixin heading4 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  @mixin bodyText {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }

  @mixin bodyText2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;
  }

  @mixin bodyText3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%;
  }

